.about-block {

    &__title {
        padding-left: calc((100vw - $container-width) / 2);

        @media(max-width: $container-width) {
            padding-left: 24px;
        }
        @media(max-width: $breakpoint768) {
            padding-left: 16px;
        }
    }
    &__wrapper {
        margin-top: 80px;

        display: flex;
        justify-content: end;
        align-items: end;
        gap: 32px;

        padding-left: calc((100vw - $container-width) / 2);

        @media(max-width: $container-width) {
            padding-left: 24px;
        }
        @media(max-width: $breakpoint1024) {
            margin-top: 60px;

            flex-direction: column-reverse;
            justify-content: start;
            align-items: center;
            gap: 0;
        }
        @media(max-width: $breakpoint768) {
            padding-left: 16px;
            padding-right: 16px;
        }
        @media(max-width: $breakpoint600) {
            margin-top: 44px;
        }
    }
    &__img {
        width: 53%;

        @media(max-width: $breakpoint1024) {
            margin-top: -40px;
            width: 100%;

            max-width: 720px;
            z-index: 1;
        }
    }
    &__description {
        width: 45%;

        @media(max-width: $breakpoint1024) {
            width: 100%;
            max-width: 670px;
        }
    }

    &__description {
        
        &-wrapper {
            position: relative;
            padding: 50px 36px 26px;
            border: 1px solid rgba(183, 183, 183, 0.21);
            border-radius: 20px 0 0 20px;
            backdrop-filter: blur(24px);
            background: rgba(154, 154, 152, 0.16);
            height: fit-content;

            @media(max-width: $breakpoint1024) {
                border-radius: 20px;
                background: rgba(248, 248, 248, 0.21);
                padding: 42px 36px;
            }
            @media(max-width: $breakpoint600) {
                padding: 40px 16px 50px;
            }
            
            &::before {
                content: '';
                background-image: url(../assets/img/icons/i-about.png);
                background-repeat: no-repeat;
                width: 148px;
                height: 79px;

                position: absolute;
                top: -40px;
                left: -20px;
                filter: drop-shadow(0 11px 16px rgba(12, 182, 166, 0.15));

                @media(max-width: $breakpoint600) {
                    background-size: 100px;
                    width: 100px;
                    height: 50px;

                    top: -16px;
                    left: 0;
                }
            }
        }

        &-text {
            max-width: 475px;
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 0.01em;
            color: $black;

            @media(max-width: $breakpoint1024) {
                max-width: 100%;
            }
            @media(max-width: $breakpoint600) {
                font-size: 16px;
            }
        }
    }

    &__bottom {
        margin-top: 32px;
    }
}