.contacts-info {
    padding: 35px 32px;
    border: 1px solid #d8d8d8;
    border-radius: 20px;

    background-image: url(../img/bg/contacts-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    @media(max-width: $breakpoint768) {
        padding: 65px 24px;
    }
    @media(max-width: $breakpoint480) {
        padding: 0;
        border: none;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 35px;

        @media(max-width: $breakpoint992) {
            flex-direction: column;
            max-width: 570px;
            margin: 0 auto;
        }
        @media(max-width: $breakpoint480) {
            gap: 36px;
        }
    }
    &__left {
        flex-grow: 1;
        flex-shrink: 0;

        padding: 30px 35px;
        border: 1px solid rgba(248, 248, 248, 0.52);
        border-radius: 30px;
        backdrop-filter: blur(12px);
        background: rgba(248, 248, 248, 0.47);

        @media(max-width: $breakpoint480) {
            border-radius: 20px;
            padding: 22px 10px;
        }
    }

    &__schedule {
        margin-top: 15px;

        @media(max-width: $breakpoint480) {
            margin-top: 16px;
        }

        &-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            color: $black;

            @media(max-width: $breakpoint768) {
                font-size: 16px;
            }
        }
        &-list {
            margin-top: 22px;

            display: flex;
            flex-direction: column;
            gap: 6px;

            @media(max-width: $breakpoint480) {
                margin-top: 16px;
            }
        }
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;

            &-text {
                font-weight: 400;
                font-size: 20px;
                color: #9a9a98;

                @media(max-width: $breakpoint768) {
                    font-size: 16px;
                }
            }
            &-value {
                font-weight: 500;
                font-size: 20px;
                color: #000;
                text-align: right;

                @media(max-width: $breakpoint768) {
                    font-size: 16px;
                }
            }
        }
    }

    &__map {
        max-width: 570px;
        width: 100%;
        
        border: 1px solid #9a9a98;
        border-radius: 20px;
        height: 390px;
        overflow: hidden;
    
        @media(max-width: $breakpoint992) {
            max-width: 100%;
        }
        @media(max-width: $breakpoint480) {
            height: 360px;
        }
    
        & iframe {
            height: inherit;
            width: 100%;
        }
    }
}