.customers-page {

    &__wrapper {
        display: flex;
        gap: 44px;

        // height: 100dvh;

        @media(max-width: $breakpoint992) {
            flex-direction: column;
        }
        @media(max-width: $breakpoint480) {
            gap: 20px;
        }
    }
    &__side {
        width: 236px;
        flex-shrink: 0;

        @media(max-width: $breakpoint992) {
            width: max-content;
        }
        @media(max-width: $breakpoint375) {
            width: 100%;
        }
    }

    &__container {
        width: 100%;
    }
    &__inner {
        max-height: 410px;
        
        display: flex;
        flex-direction: column;
        gap: 46px;    

        @media(max-width: 1440px) {
            max-height: 510px;
        }
        @media(max-width: $breakpoint992) {
            gap: 25px;
        }
        @media(max-width: 700px) {
            max-height: 600px;
        }
        @media(max-width: 600px) {
            max-height: 700px;
        }
        @media(max-width: $breakpoint480) {
            max-height: 600px;
        }
        @media(max-width: $breakpoint375) {
            max-height: 680px;
        }
    }
}
