.customers-menu {
    border: 1px solid rgba(248, 248, 248, 0.3);
    border-radius: 30px;
    background: rgba(248, 248, 248, 0.41);
    padding: 26px 22px;

    @media(max-width: $breakpoint992) {
        padding: 24px 22px;
    }

    &__list {
        display: flex !important;
        flex-direction: column !important;
        transform: none !important;
    }
    &__item {
        margin: 0 !important;
        height: auto !important;
        width: auto !important;
        border-radius: unset !important;
        background: transparent !important;
        opacity: 1 !important;

        border-bottom: 1px solid rgba(154, 154, 152, 0.6) !important;

        &:first-child {
            & .customers-menu__text {
                padding-top: 0 !important;
            }
        }
        &:last-child {
            border-bottom: none !important;

            & .customers-menu__text {
                padding-bottom: 0 !important;
            }
        }

        &.swiper-pagination-bullet-active {
            & .customers-menu__text {
                color: $main-color !important;
            }
        }
    }
    &__text {
        display: block;
        padding: 11px 0;

        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        color: #9a9a98;

        @media(max-width: $breakpoint992) {
            padding: 10px 0;
        }
        @media(max-width: $breakpoint480) {
            padding: 8px 0;
        }
    }
}