.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__item {
        display: flex;
    }
    &__link {
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        color: $black;
        transition: color .3s;

        &:hover {
            color: $main-color;
        }
    }
}