.form-main {
    margin-top: 36px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;

    @media(max-width: $breakpoint1024) {
        margin-top: 16px;
    }
    @media(max-width: 640px) {
        grid-template-columns: 1fr;
    }

    &__input {
        border: 1px solid #9a9a98;
        border-radius: 16px;
        padding: 20px 24px;
        background: #f8f8f8;

        font-weight: 500;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.5);
        transition: border-color .3s;

        @media(max-width: $breakpoint480) {
            padding: 15px 24px;
            font-size: 16px;
        }

        &::placeholder {
            font-weight: 500;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.5);

            @media(max-width: $breakpoint480) {
                font-size: 16px;
            }
        }

        &:nth-of-type(3) {
            grid-column: 1/3;

            @media(max-width: 640px) {
                grid-column: unset;
            }
        }

        &:focus {
            border-color: $main-color;
        }
    }
    &__bottom {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 18px;

        grid-column: 1/3;

        @media(max-width: 640px) {
            grid-column: unset;
            flex-direction: column;
            gap: 14px;
        }
    }
    &__submit {
        flex-shrink: 0;
        border-radius: 30px;
        padding: 15px 34px;

        font-weight: 600;
        font-size: 20px;
        text-align: center;
        color: #f8f8f8;

        @media(max-width: $breakpoint480) {
            font-size: 16px;
            padding: 13px 32px;
        }

        position: relative;
        background: transparent;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            transition: opacity .35s ease-in-out;
            top:0; 
            left: 0; 
            right: 0; 
            bottom: 0; 
            z-index: 0;
            background: linear-gradient(90deg, #0cb6a6 4.34%, #0cb6a6 100%);
        }

        &::after {
            content: ""; 
            opacity: 0;
            transition: opacity .35s ease-in-out;
            position: absolute;
            top:0; 
            left: 0; 
            right: 0; 
            bottom: 0; 
            z-index: 0;
            background: linear-gradient(90deg, #055049 4.34%, #0cb6a6 100%);
        }

        &:hover {

            &::before {
                opacity: 0;
            }
            &::after {
                opacity: 1;
            }
        }

        & span {
            position: relative;
            z-index: 1;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.74);

        @media(max-width: 640px) {
            text-align: center;
        }
        @media(max-width: $breakpoint480) {
            font-size: 12px;
        }
    }
}