.gallery {
    position: relative;
    z-index: 2;

    &__wrapper {
        margin-top: 38px;

        border: 1px solid rgba(248, 248, 248, 0.52);
        border-radius: 30px;
        padding: 35px 40px;
        backdrop-filter: blur(12px);
        background: rgba(248, 248, 248, 0.47);

        @media(max-width: $breakpoint768) {
            padding: 27px 12px;
        }
    }
    &__bottom {
        margin-top: 18px;
        display: flex;
        justify-content: center;
        gap: 14px;
    }
}