.info-block {

    &__title {
        font-weight: 700;
        font-size: 32px;
        color: $black;

        @media(max-width: $breakpoint480) {
            font-size: 20px;
        }
    }
    &__slider {
        margin-top: 24px;
        max-width: 894px;

        display: grid;
        align-items: center;
        grid-template-columns: 50px auto 50px;
        gap: 20px;

        @media(max-width: $breakpoint480) {
            & .swiper-certificate-btn-prev {
                grid-column: 1/2;
                grid-row: 2/3;
                margin-left: auto;
            }
            & .swiper-certificate-btn-next {
                grid-column: 2/3;
            }
        }
        @media(max-width: 700px) {
            max-width: 450px;
            margin: 24px auto;
        }
        @media(max-width: $breakpoint480) {
            max-width: 300px;
            grid-template-columns: repeat(2, 1fr);
            gap: 12px;
        }
    }
    &__inner {
        margin-top: 24px;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__list {
        counter-reset: item;
    }
    &__item {
        padding-left: 28px;
        position: relative;

        &::before {
            counter-increment: item;
            content: counter(item) ".";
            position: absolute;
            left: 6px;

            font-weight: 500;
            font-size: 20px;
            line-height: 157%;
            color: $black;

            @media(max-width: $breakpoint992) {
                font-size: 18px;
            }
            @media(max-width: $breakpoint480) {
                font-size: 16px;
            }
        }
    }
    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 157%;
        color: $black;

        @media(max-width: $breakpoint992) {
            font-size: 18px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 16px;
        }
    }
    &__link {
        font-weight: 500;
        font-size: 20px;
        line-height: 157%;
        color: $main-color;
        transition: color .3s;

        @media(max-width: $breakpoint992) {
            font-size: 18px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 16px;
        }

        &:hover {
            color: #0a9e8f;
        }
    }
}