.menu-nav {
    display: flex;
    align-items: center;
    gap: 32px;

    @media(max-width: $breakpoint1024) {
        gap: 6px;
    }

    &__item {
        display: flex;
    }

    &__link {
        display: block;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        color: $black;
        transition: color .3s;

        &:hover {
            color: $main-color;
        }

        @media(max-width: $breakpoint1024) {
            font-size: 16px;
        }

        &--active {
            color: $main-color;
        }
    }
}