.projects-detail {
    border: 1px solid rgba(183, 183, 183, 0.23);
    border-radius: 30px;
    backdrop-filter: blur(12px);
    background: rgba(183, 183, 183, 0.17);
    padding: 26px;

    @media(max-width: $breakpoint480) {
        padding: 9px 7px 20px;
    }

    &__wrapper {
        display: flex;
        gap: 30px;

        @media(max-width: $breakpoint992) {
            flex-direction: column;
        }
        @media(max-width: $breakpoint600) {
            gap: 16px;
        }
    }
    &__left {
        position: relative;

        height: fit-content;
        width: 470px;
        // width: 40%;
        flex-shrink: 0;

        @media(max-width: $breakpoint992) {
            display: grid;
            grid-template-columns: 50px auto 50px;
            align-items: center;
            gap: 36px;

            width: 100%;
        }
        @media(max-width: $breakpoint600) {
            grid-template-columns: unset;
            gap: 0;
        }
    }
    &__group {
        margin-top: 16px;
        
        display: flex;
        justify-content: center;
        gap: 14px;

        @media(max-width: $breakpoint992) {
            display: contents;
        } 
        @media(max-width: $breakpoint600) {
            display: flex;
            order: 2;
        }
    }
    &__description {
        width: 60%;

        display: flex;
        flex-direction: column;
        gap: 36px;

        @media(max-width: $breakpoint992) {
            width: 100%;
            gap: 20px;
        }
        @media(max-width: $breakpoint600) {
            gap: 10px;
        }
    }
    &__name {
        font-weight: 600;
        font-size: 32px;
        line-height: 141%;
        color: $black;

        @media(max-width: $breakpoint992) {
            font-size: 30px;
        }
        @media(max-width: $breakpoint600) {
            font-size: 20px;
        }
    }
    &__text {
        font-weight: 600;
        font-size: 20px;
        line-height: 141%;
        color: $black;

        @media(max-width: $breakpoint992) {
            font-size: 18px;
        }
        @media(max-width: $breakpoint600) {
            font-size: 16px;
        }
    }
    
    & .swiper-projects-btn-prev {
        order: 1;
    }
    & .swiper-projects-btn-next {
        order: 2;
    }

    & .swiper-projects-fill {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: #F8F8F8;
        border: none;

        z-index: 2;

        @media(max-width: $breakpoint992) {
            position: relative;
            top: 0;
            transform: none;

            background: transparent;
            border: 1px solid $main-color;
        }

        &.swiper-projects-btn-prev {
            left: 18px;

            @media(max-width: $breakpoint992) {
                left: 0;
            }
        }
        &.swiper-projects-btn-next {
            right: 18px;

            @media(max-width: $breakpoint992) {
                right: 0;
            }
        }
        &.swiper-button-disabled {
            opacity: .7;
        }
    }
}