.read-also {

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btns {
        display: flex;
        gap: 10px;
    }

    &__wrapper {
        margin-top: 24px;

        @media(max-width: $breakpoint480) {
            margin-top: 12px;
        }
    }
}