@import url("../assets/fonts/stylesheet.css");

html,
body {
    font-family: $font-family;

    scroll-behavior: smooth;

    @media(max-width: $breakpoint1024) {
        overflow-x: hidden;
    }
}

// Заголовки
h1 {
    color: $black;
}
h2 {
    font-weight: 700;
    font-size: 38px;
    line-height: 168%;
    text-transform: uppercase;
    color: $black;

    position: relative;
    z-index: 2;

    @media(max-width: $breakpoint768) {
        line-height: 144%;
        font-size: 36px;
    }
    @media(max-width: $breakpoint480) {
        line-height: 120%;
        font-size: 24px;
    }
    @media(max-width: $breakpoint375) {
        font-size: 20px;
    }
}
h3 {
    color: $black;
}

// База
.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;

    &__inner {
        margin-top: 28px;

        @media(max-width: $breakpoint480) {
            margin-top: 18px;
        }
    }

    @media(max-width: $container-width) {
        padding: 0 $padding-md;
    }
    @media(max-width: $breakpoint768) {
        padding: 0 $padding-sm;
    }
}

.left-padding {
    padding-left: calc((100vw - $section-top) / 2);

    @media(max-width: $container-width) {
        padding-left: $padding-md;
    }
    @media(max-width: $breakpoint768) {
        padding-left: $padding-sm;
    }
}

.no-scroll {
    overflow: hidden;
}