// color
$main-color: #0CB6A6;
$black: #323232;

// breakpoint 
$breakpoint1280: 1280 + px;
$breakpoint1248: 1248 + px;
$breakpoint1140: 1140 + px;
$breakpoint1024: 1024 + px;
$breakpoint992: 992 + px;
$breakpoint768: 768 + px;
$breakpoint600: 600 + px;
$breakpoint480: 480 + px;
$breakpoint375: 375 + px;

// font-family
$font-family: "Montserrat", sans-serif;

// border-radius
$main-radius: 35px;

// container
$container-width: 1248px;
$section-top: 100px;
$padding-md: 24px;
$padding-sm: 16px;
 